<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0X8K8e1uHC3Mhgtqko7bPmAQJpzJMC88</string>
	<key>GCM_SENDER_ID</key>
	<string>301467749749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seoulparking</string>
	<key>PROJECT_ID</key>
	<string>seoulparking-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>seoulparking-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301467749749:ios:3fa0e4793e8be49dec573c</string>
</dict>
</plist>